package ${codepackage}.entity;

import java.util.*;
import ${codepackage}.BaseObject;

/**
 * @author coder by hanman27@163.com
 * <ul>
 * <li>comment:Entity bean Content</li>
 * </ul>
*/
public class ${beanName} extends BaseObject {

	#foreach ($col in $cols)
	
    private ${col.getShortJavaType()} ${col.getFieldName()};
    #end

	#foreach ($col in $cols)
	
    public void set${col.getTemplateFieldName()}(${col.getShortJavaType()} ${col.getFieldName()}) {
        this.${col.getFieldName()} = ${col.getFieldName()};
    }
    public ${col.getShortJavaType()} get${col.getTemplateFieldName()}() {
        return ${col.getFieldName()};
    }
	#end

}