<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap>
    <resultMap id="${beanName}Map" class="${codepackage}.entity.${beanName}">#foreach ($col in $cols)
        
        <result property="${col.getFieldName()}" column="${col.getAlias()}" />#end
        
    </resultMap>

    <insert id="create${beanName}" parameterClass="${codepackage}.entity.${beanName}">
        <![CDATA[
        INSERT INTO ${beanName.toLowerCase()}
         (#foreach ($col in $cols)${col.getAlias()}#if($velocityCount != $cols.size()), #end#end) 
        VALUES
         (#foreach ($col in $cols)#${col.getFieldName()}# #if($velocityCount != $cols.size()), #end#end)
        ]]>
    </insert>

    <update id="modify${beanName}" parameterClass="${codepackage}.entity.${beanName}">
        <![CDATA[
        UPDATE ${beanName.toLowerCase()} SET
        #foreach ($col in $cols)${col.getAlias()} = #${col.getFieldName()}# #if($velocityCount != $cols.size()),
        #end#end
        
         WHERE 
            ID = #id#
        ]]>
    </update>

    <delete id="remove${beanName}" parameterClass="${codepackage}.entity.${beanName}">
        <![CDATA[
        DELETE FROM ${beanName.toUpperCase()}
         WHERE 
            ID = #id#
        ]]>
    </delete>

    <select id="query${beanName}" parameterClass="${codepackage}.entity.${beanName}" resultClass="${codepackage}.entity.${beanName}" resultMap="${beanName}Map">
        <![CDATA[SELECT * FROM ${beanName.toUpperCase()}]]>
        <dynamic prepend=" WHERE ">
    #foreach($col in $cols)
        <isNotEmpty prepend=" AND " property="${col.getFieldName()}">
                <![CDATA[${col.getAlias()} = #${col.getFieldName()}#]]>
            </isNotEmpty>
        #end</dynamic>        
    </select>

    <select id="query${beanName}ById" parameterClass="${codepackage}.entity.${beanName}" resultClass="${codepackage}.entity.${beanName}" resultMap="${beanName}Map">
        <![CDATA[SELECT * FROM ${beanName.toUpperCase()} WHERE ID = #id#]]>        
    </select>

</sqlMap>