<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
    <properties resource="/config.properties" />
    <settings enhancementEnabled="true" maxTransactions="20" maxRequests="32" maxSessions="10" />
    <transactionManager type="JDBC">
        <dataSource type="DBCP">
            <property name="JDBC.Driver" value="${jdbc.driverClassName}" />
            <property name="JDBC.ConnectionURL" value="${jdbc.url}" />
            <property name="JDBC.Username" value="${jdbc.username}" />
            <property name="JDBC.Password" value="${jdbc.password}" />
            <property name="Pool.MaximumActiveConnections" value="100" />
            <property name="Pool.MaximumIdleConnections" value="5" />
            <property name="Pool.MaximumWait" value="60000" />
            <property name="Pool.MaximumCheckoutTime" value="120000" />
            <property name="Pool.TimeToWait" value="500" />
        </dataSource>
    </transactionManager>
	
    #foreach ($table in $tables)
<sqlMap resource="ibatis/${mysql}/sqlmap-${table.getJavaName()}.xml" />
    #end
    
</sqlMapConfig>