package ${codepackage}.dao;

import java.util.*;
import ${codepackage}.entity.${entityName};
import org.apache.ibatis.annotations.Param;

/**
 * describe your class here
*/
public interface ${beanName}Dao {

	//insert
    public int insert${beanName}(${entityName} ${beanName.toLowerCase()});

	//modify
  	public int update${beanName}(${entityName} ${beanName.toLowerCase()});

	//delete
    public void delete${beanName}(${entityName} ${beanName.toLowerCase()});

    public List<${entityName}> query${beanName}(${entityName} ${beanName.toLowerCase()});
    
    public int insert${beanName}List(@Param("list")List<${entityName}> list);
    
    public int update${beanName}List(@Param("list")List<${entityName}> list);

	//query by id
    public ${entityName} query${beanName}ById(#foreach($pkCol in $pkCols) @Param("${pkCol.getFieldName()}")String ${pkCol.getFieldName()} #if($velocityCount != $pkCols.size()), #end#end);
	
#foreach ($extend in $sqlList)
#if($extend.getTableName()==$tables.get(0).getName() )
	 public #if($extend.getAction()=='select') List<${entityName}> #end #if($extend.getAction()=='update') int #end $extend.getKey()(#foreach($javaParamTypeAndParam in $extend.javaParamTypeAndParam)
#if($javaParamTypeAndParam.param!='')
@Param("$javaParamTypeAndParam.param")$javaParamTypeAndParam.paramType $javaParamTypeAndParam.param #if($velocityCount != $extend.javaParamTypeAndParam.size()), #end#end
#end);

#end
#end
}