<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${codepackage}.dao.${beanName}Dao" >
    <resultMap id="${beanName}Map" type="${beanName}Entity">#foreach ($col in $cols)
        
        <result property="${col.getFieldName()}" column="${col.getAlias()}"/>#end
        
    </resultMap>

    <insert id="insert${beanName}" parameterType="${entityName}"  useGeneratedKeys="true" keyProperty="id" >
        
        INSERT INTO ${tables.get(0).getName()}
         (
#foreach ($col in $cols)
#if($col.getAlias()!='ID')
		       ${col.getAlias()}#if($velocityCount != $cols.size()),
#end
#end
#end
        ) 
        VALUES
         (
#foreach ($col in $cols)
#if($col.getFieldName()!='id')
		        #{${col.getFieldName()} jdbcType=${col.getJdbcType()}} #if($velocityCount != $cols.size()),
#end
#end
#end
         )
       
    </insert>

    <update id="update${beanName}" parameterType="${entityName}">
    
        UPDATE ${tables.get(0).getName()} 
        <set>
#foreach ($col in $cols)
	        <if test="${col.getFieldName()}!=null">${col.getAlias()} = #{${col.getFieldName()}} #if($velocityCount != $cols.size()),#end </if>    
#end
        </set>
        WHERE 
#foreach($pkCol in $pkCols)
        	<if test="${pkCol.getFieldName()}!=null">${pkCol.getAlias()} = #{${pkCol.getFieldName()}} #if($velocityCount != $pkCols.size()) and #end </if> 
#end	
    </update>
    
     <update id="update${beanName}List" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="begin" close="end;" separator=";">
        UPDATE ${tables.get(0).getName()} 
        <set>
#foreach ($col in $cols)
	        <if test="item.$col.getFieldName()!=null">$col.getAlias() = #{item.$col.getFieldName()} #if($velocityCount != $cols.size()),#end </if>    
#end
        </set>
        WHERE 
#foreach($pkCol in $pkCols)
        	<if test="item.$pkCol.getFieldName()!=null">$pkCol.getAlias() = #{item.$pkCol.getFieldName()} #if($velocityCount != $pkCols.size()) and #end </if> 
#end	
</foreach>
    </update>

    <delete id="delete${beanName}" parameterType="${entityName}">
        DELETE FROM ${tables.get(0).getName()}
         WHERE 
#foreach($pkCol in $pkCols)
        	<if test="${pkCol.getFieldName()}!=null">${pkCol.getAlias()} = #{${pkCol.getFieldName()}} #if($velocityCount != $pkCols.size()) and #end </if>
#end	
    </delete>

    <select id="query${beanName}" parameterType="${entityName}"  resultMap="${beanName}Map">
        SELECT * FROM ${tables.get(0).getName()}
        where 1=1 
		#foreach($col in $cols)<if test="${col.getFieldName()}!=null"> and ${col.getAlias()} = #{${col.getFieldName()}} </if>
        #end
           
    </select>

    <select id="query${beanName}ById" parameterType="String" resultMap="${beanName}Map">
        SELECT * FROM ${tables.get(0).getName()} WHERE 
#foreach($pkCol in $pkCols)
        	<if test="${pkCol.getFieldName()}!=null">${pkCol.getAlias()} = #{${pkCol.getFieldName()}} #if($velocityCount != $pkCols.size()) and #end </if>
#end
              
    </select>
    
    
        <insert id="insert${beanName}List" parameterType="${entityName}"  useGeneratedKeys="true" keyProperty="id" >
        
        <selectKey keyProperty="id" order="BEFORE"  
	        resultType="java.lang.Integer">  
	        SELECT LAST_INSERT_ID()  
	  </selectKey>  
  
        INSERT INTO ${tables.get(0).getName()}
         (
#foreach ($col in $cols)
#if($col.getAlias()!='ID')
		       ${col.getAlias()}#if($velocityCount != $cols.size()),
#end
#end
#end
        ) 
        VALUES
         
         <foreach collection="list" item="item" index="index" separator="," >
(#foreach ($col in $cols)
#if($col.getFieldName()!='id')
		        #{item.${col.getFieldName()} jdbcType=${col.getJdbcType()}} #if($velocityCount != $cols.size()),#end
#end
#end)
	</foreach>
         
       
    </insert>
 
#foreach ($extend in $sqlList)
#if($extend.getTableName()==$tables.get(0).getName() )
	<$extend.getAction() id="$extend.getKey()" #if($extend.getParameterType()!='')parameterType="$extend.getParameterType()"#end #if($extend.getAction()=='select')resultMap="${beanName}Map"#end>
		$extend.getSql()
	</$extend.getAction()>

#end
#end
    

</mapper>