<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>

	<typeAliases>
	#foreach($table in $tables)
		<typeAlias type="${codepackage}.entity.${table.getJavaName()}Entity" alias="${table.getJavaName()}Entity" />
	#end
	</typeAliases>
	
	<mappers>
    #foreach ($table in $tables)
		<mapper resource="sqlMappers/sqlmap-${table.getJavaName()}.xml" />
    #end
    </mappers>
    
</configuration>